@import "~ionicons/css/ionicons.css";
html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ecf0f5;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
}
#app, .the-app, .layout, .middle-content {
  position: relative;
  height: 100%;
}
.layout {
  height: calc(100% - 56px);
  min-height: calc(100% - 56px);
  display: flex;
  .side-menu {
    min-width: 200px;
  }
  .middle-content {
    flex: auto;
  }
}
.full-height {
  position: relative;
  height: 100%;
  min-height: 100%;
  height: calc(100vh - 96px);
}
